In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
dataset=pd.read_csv("loan.csv")
dataset

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
0    LP001002    Male      No  ...            1.0         Urban           Y
1    LP001003    Male     Yes  ...            1.0         Rural           N
2    LP001005    Male     Yes  ...            1.0         Urban           Y
3    LP001006    Male     Yes  ...            1.0         Urban           Y
4    LP001008    Male      No  ...            1.0         Urban           Y
..        ...     ...     ...  ...            ...           ...         ...
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[614 rows x 13 columns]

In [4]:
dataset.duplicated().sum().sum()

np.int64(0)

In [5]:
data = {
    "name": ["a", "b", "c", "d", "a", "c"],
    "eng": [8, 7, 5, 8, 8, 4],
    "hindi": [2, 3, 4, 5, 2, 6]
}

In [6]:
df=pd.DataFrame(data=data)

In [7]:
df

  name  eng  hindi
0    a    8      2
1    b    7      3
2    c    5      4
3    d    8      5
4    a    8      2
5    c    4      6

In [9]:
df.duplicated().sum()

np.int64(1)

In [11]:
df.drop_duplicates(inplace=True)